---
import ProjectCard from "../components/organisms/projectCard.astro";
import projects from "../projects/projects.json";
---

<div class=" text-white w-full max-w-7xl mx-auto pt-4">
    <h1 class="text-5xl font-bold">Mis Proyectos</h1>
    <p class="text-lg font-light text-gray-300">A lo largo de mi experiencia he trabajado en una variedad de proyectos, desde aplicaciones web hasta aplicaciones móviles.</p>
    <div class="flex flex-wrap mt-10 gap-10">
        {projects.projects.map((project) => (
            <ProjectCard 
                title={project.title} 
                description={project.description} 
                image={project.image}
                link={project.link} 
                tags={project.tags}
            />
        ))}
    </div>
</div> 