---
// Obtener la ruta actual para saber qué enlace está activo
const currentPath = Astro.url.pathname;

// Definir los estilos base y activos para cada enlace
const baseStyle = "transition-all duration-300 border-b-2 border-transparent";
const links = [
    { href: "/", text: "Inicio", activeColor: "custom-1" },
    { href: "/about", text: "Acerca de mi", activeColor: "custom-2" },
    { href: "#projects", text: "Proyectos", activeColor: "custom-6" },
    { href: "/contact", text: "Contacto", activeColor: "custom-4" }
];
---

<div class="flex text-white font-bold items-center gap-10">
    {
        links.map(({ href, text, activeColor }) => (
            <a
                href={href}
                class:list={[
                    baseStyle,
                    `hover:text-${activeColor} hover:border-${activeColor}`,
                    currentPath === href ? `text-${activeColor} border-${activeColor}` : ""
                ]}
                data-nav-link={href.startsWith('#')}
            >
                {text}
            </a>
        ))
    }
</div>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        const navLinks = document.querySelectorAll('[data-nav-link="true"]');
        
        navLinks.forEach(link => {
            link.addEventListener('click', (e) => {
                e.preventDefault();
                const href = link.getAttribute('href');
                if (href && href.startsWith('#')) {
                    const targetId = href.substring(1);
                    const targetElement = document.getElementById(targetId);
                    
                    if (targetElement) {
                        targetElement.scrollIntoView({
                            behavior: 'smooth',
                            block: 'start'
                        });
                    }
                }
            });
        });
    });
</script>

<style>
    a:focus {
        outline: none;
    }
</style>