---
interface Tag {
    name: string;
    icon: string;
    color: string;
}

const { title, description, image, link, tags } = Astro.props;
import ButtonAction from "../atoms/buttonAction.astro";
import ImageModal from "../atoms/imageModal.astro";
import Tags from "../atoms/tags.astro";
---

<div class="flex flex-col justify-center bg-white/10 backdrop-blur-md border border-white/10 rounded-lg w-full md:w-[calc(50%-20px)] lg:w-[calc(33.33%-27px)] shadow-lg hover:bg-white/20 transition-all duration-300 ">
    <div class="w-full min-h-[300px] relative overflow-hidden rounded-t-lg cursor-pointer" id="projectImage">
        <img src={image} alt="Project Image" class="absolute inset-0 w-full h-full object-cover" />
        <div class="absolute inset-0 bg-gradient-to-t from-black/50 to-transparent"></div>
        <div class="absolute bottom-0 left-0 w-full p-4">
            <h1 class="text-2xl font-bold text-white">{title}</h1>
        </div>
    </div> 
    <div class="p-4">
        <p class="text-sm text-gray-300 ">{description}</p>
        <Tags tags={tags} />
        <div class="flex justify-start mt-4">
            <ButtonAction text="Ver proyecto" link={link} />
        </div>
    </div>
</div>

<ImageModal image={image} title={title} isOpen={false} />

<script>
    const projectImage = document.getElementById('projectImage');
    const modal = document.getElementById('imageModal');

    projectImage?.addEventListener('click', () => {
        modal?.classList.remove('opacity-0', 'pointer-events-none');
    });
</script>